@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

#logo {
    width: 140px;
    height: auto;
}

nav {
    width: 50%;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
    color: aliceblue;
    font-size: 19px;
    cursor: pointer;
    transition: .5s;
    font-family: 'kdam thmor pro', sans-serif;
}

li:hover {
    color: red;
}

